<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Dashboard User</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="assets/vendors/feather/feather.css" />
    <link
      rel="stylesheet"
      href="assets/vendors/ti-icons/css/themify-icons.css"
    />
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css" />
    <link
      rel="stylesheet"
      href="assets/vendors/font-awesome/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="assets/vendors/mdi/css/materialdesignicons.min.css"
    />
    <!-- endinject -->
    <!-- Plugin css-->
    <!-- <link rel="stylesheet" href="assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css"> -->
    <link
      rel="stylesheet"
      href="assets/vendors/datatables.net-bs5/dataTables.bootstrap5.css"
    />
    <link
      rel="stylesheet"
      href="assets/vendors/ti-icons/css/themify-icons.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="assets/js/select.dataTables.min.css"
    />
    <!-- End plugin css-->
    <!-- inject:css -->
    <link rel="stylesheet" href="assets/css/style.css" />
    <!-- endinject -->
    <link rel="shortcut icon" href="assets/images/favicon.png" />
  </head>

  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div
          class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start"
        >
          <a class="navbar-brand brand-logo me-5" href="index.html">Ini Logo</a>
          <a class="navbar-brand brand-logo-mini" href="index.html">Ini Logo</a>
        </div>
        <div
          class="navbar-menu-wrapper d-flex align-items-center justify-content-end"
        >
          <button
            class="navbar-toggler navbar-toggler align-self-center"
            type="button"
            data-toggle="minimize"
          >
            <span class="icon-menu"></span>
          </button>
          <ul class="navbar-nav mr-lg-2">
            <li class="nav-item nav-search d-none d-lg-block">
              <div class="input-group">
                <div
                  class="input-group-prepend hover-cursor"
                  id="navbar-search-icon"
                >
                  <span class="input-group-text" id="search">
                    <i class="icon-search"></i>
                  </span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  id="navbar-search-input"
                  placeholder="Search now"
                  aria-label="search"
                  aria-describedby="search"
                />
              </div>
            </li>
          </ul>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-settings d-none d-lg-flex">
              <a class="nav-link" href="#">
                <i class="icon-ellipsis"></i>
              </a>
            </li>
          </ul>
          <button
            class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
            type="button"
            data-toggle="offcanvas"
          >
            <span class="icon-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="dashboarduser.html">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="informasilainnya.html">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Informasi Lainnya</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-md-7 stretch-card grid-margin">
                <div class="card">
                  <div class="card-body">
                    <p class="card-title mb-0">Teams Terdaftar</p>
                    <div class="table-responsive">
                      <table class="table table-borderless">
                        <thead>
                          <tr>
                            <th class="ps-0 pb-2 border-bottom">Nama Team</th>
                            <th class="border-bottom pb-2">Kategori</th>
                            <th class="border-bottom pb-2">Asal Sekolah</th>
                            <th class="border-bottom pb-2">Ketua</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="ps-0">Team Alpha</td>
                            <td>Mikrotik</td>
                            <td>SMK Pusaka</td>
                            <td class="text-muted">Dewi Santika</td>
                          </tr>
                          <tr>
                            <td class="ps-0">Team Beta</td>
                            <td>Programming</td>
                            <td>SMA Negeri 1</td>
                            <td class="text-muted">Andi Rahmat</td>
                          </tr>
                          <tr>
                            <td class="ps-0">Team Gamma</td>
                            <td>Mikrotik</td>
                            <td>SMK Telekom</td>
                            <td class="text-muted">Budi Setiawan</td>
                          </tr>
                          <tr>
                            <td class="ps-0">Team Delta</td>
                            <td>Programming</td>
                            <td>SMA Kartika</td>
                            <td class="text-muted">Ayu Sari</td>
                          </tr>
                          <tr>
                            <td class="ps-0">Team Epsilon</td>
                            <td>Mikrotik</td>
                            <td>SMK Nusantara</td>
                            <td class="text-muted">Rizki Ananda</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="row">
                  <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <p class="card-title mb-0">Daftar Sekolah</p>
                        <div class="table-responsive">
                          <table class="table table-borderless">
                            <thead>
                              <tr>
                                <th class="ps-0 pb-2 border-bottom">Nama Sekolah</th>
                                <th class="border-bottom pb-2">Alamat Sekolah</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="ps-0">SMA Pusaka</td>
                                <td>Bali</td>
                              </tr>
                              <tr>
                                <td class="ps-0">SMA Negeri 1</td>
                                <td>Jakarta</td>
                              </tr>
                              <tr>
                                <td class="ps-0">SMK Telekom</td>
                                <td>Bandung</td>
                              </tr>
                              <tr>
                                <td class="ps-0">SMA Kartika</td>
                                <td>Surabaya</td>
                              </tr>
                              <tr>
                                <td class="ps-0">SMK Nusantara</td>
                                <td>Semarang</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title">Advanced Table with Tabs</p>
                        <div class="card card-dark card-outline card-outline-tabs shadow-none">
                            <div class="card-header p-0 border-bottom-0">
                                <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true">Mikrotik</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false">IT</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="custom-tabs-four-messages-tab" data-toggle="pill" href="#custom-tabs-four-messages" role="tab" aria-controls="custom-tabs-four-messages" aria-selected="false">Desain Grafis</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="custom-tabs-four-settings-tab" data-toggle="pill" href="#custom-tabs-four-settings" role="tab" aria-controls="custom-tabs-four-settings" aria-selected="false">Cisco</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content" id="custom-tabs-four-tabContent">
                                    <!-- Mikrotik Tab -->
                                    <div class="tab-pane fade show active" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                                        <div class="table-responsive">
                                            <table id="example1" class="display expandable-table" style="width: 100%">
                                                <thead>
                                                    <tr>
                                                        <th>No</th>
                                                        <th>Team</th>
                                                        <th>Kategori</th>
                                                        <th>Sekolah</th>
                                                        <th>Ketua</th>
                                                        <th>Nilai</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Tim A</td>
                                                        <td>Mikrotik</td>
                                                        <td>SMK 1</td>
                                                        <td>Andi</td>
                                                        <td>90</td>
                                                        <td><label class="badge badge-info">Lolos</label></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
            
                                    <!-- IT Tab -->
                                    <div class="tab-pane fade" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
                                        <div class="table-responsive">
                                            <table id="example2" class="display expandable-table" style="width: 100%">
                                                <thead>
                                                    <tr>
                                                        <th>No</th>
                                                        <th>Team</th>
                                                        <th>Kategori</th>
                                                        <th>Sekolah</th>
                                                        <th>Ketua</th>
                                                        <th>Nilai</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Tim B</td>
                                                        <td>IT</td>
                                                        <td>SMK 2</td>
                                                        <td>Budi</td>
                                                        <td>85</td>
                                                        <td><label class="badge badge-danger">Tidak Lolos</label></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
            
                                    <!-- Desain Grafis Tab -->
                                    <div class="tab-pane fade" id="custom-tabs-four-messages" role="tabpanel" aria-labelledby="custom-tabs-four-messages-tab">
                                        <div class="table-responsive">
                                            <table id="example3" class="display expandable-table" style="width: 100%">
                                                <thead>
                                                    <tr>
                                                        <th>No</th>
                                                        <th>Team</th>
                                                        <th>Kategori</th>
                                                        <th>Sekolah</th>
                                                        <th>Ketua</th>
                                                        <th>Nilai</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Tim C</td>
                                                        <td>Desain Grafis</td>
                                                        <td>SMK 3</td>
                                                        <td>Charlie</td>
                                                        <td>88</td>
                                                        <td><label class="badge badge-info">Lolos</label></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
            
                                    <!-- Cisco Tab -->
                                    <div class="tab-pane fade" id="custom-tabs-four-settings" role="tabpanel" aria-labelledby="custom-tabs-four-settings-tab">
                                        <div class="table-responsive">
                                            <table id="example4" class="display expandable-table" style="width: 100%">
                                                <thead>
                                                    <tr>
                                                        <th>No</th>
                                                        <th>Team</th>
                                                        <th>Kategori</th>
                                                        <th>Sekolah</th>
                                                        <th>Ketua</th>
                                                        <th>Nilai</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Tim D</td>
                                                        <td>Cisco</td>
                                                        <td>SMK 4</td>
                                                        <td>David</td>
                                                        <td>92</td>
                                                        <td><label class="badge badge-info">Fixed</label></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
            </div>
            
            
              
            
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
                Copyright © 2024.
                <a href="#" target="_blank">HIMA TRKJ POLITALA</a> All rights reserved.
              </span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                Developed with dedication
                <i class="ti-info-alt text-danger ms-1"></i>
              </span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="assets/vendors/chart.js/chart.umd.js"></script>
    <script src="assets/vendors/datatables.net/jquery.dataTables.js"></script>
    <!-- <script src="assets/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script> -->
    <script src="assets/vendors/datatables.net-bs5/dataTables.bootstrap5.js"></script>
    <script src="assets/js/dataTables.select.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="assets/js/off-canvas.js"></script>
    <script src="assets/js/template.js"></script>
    <script src="assets/js/settings.js"></script>
    <script src="assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="assets/js/jquery.cookie.js" type="text/javascript"></script>
    <script src="assets/js/dashboard.js"></script>
    <!-- <script src="assets/js/Chart.roundedBarCharts.js"></script> -->
    <!-- End custom js for this page-->
  </body>
</html>
